/* chat responsive start*/
@media (max-width: 1400px) and (min-width: 1200px) {
      .chat1 {
        padding-left: 0%!important;
    }
    p.p
    {
        font-size: 21px!important;
    }

    .chat-input-data2 {
        width: 52% !important;
        margin-right: 8px;
        margin-top: 10px;
    }

    .chat-input-data2 button {
        margin-top: 25px !important;
        width: 100px;
    }

    .chat-input-data2 p {
        margin-top: -16px;
    }

    .set-input {
    }

    /* .container-fluid {
        width: 1348px;
    } */

    .chat-input-data {
        width: 700px !important;
        margin-top: 2%;
    }

    .chat1-inside-data {
        margin-top: 1%;
    }
}

@media (max-width: 1199px) and (min-width: 1024px) {
    body {
        width: fit-content !important;
    }
    .chat1 {
        padding-left: 0%!important;
        padding-top: 0%;
    }
    p.p
    {
        font-size: 21px!important;
    }

    .chat-input-data2 {
        width: 68% !important;
        margin-right: 8px;
        margin-top: 10px;
    }

    .chat-input-data2 button {
        margin-top: 25px !important;
        width: 100px;
    }

    .chat-input-data2 p {
        margin-top: -16px;
    }

    .set-input {

    }

    /* .container-fluid {
        width: 99%;
    } */

    .chat-input-data {
        width: 678px !important;
        margin-top: 2%;
    }

    .chat1-inside-data {
        margin-top: 2%;

    }
}

@media (max-width: 1023px) and (min-width: 992px) {
    body {
        width: fit-content !important;

    }

    .chat-input-data2 {
        width: 99% !important;
    }

    .chat-input-data2 button {
        margin-top: 25px !important;
        width: 100px;
    }

    .chat-input-data2 p {
        margin-top: -16px;
    }

    .set-input {
        margin: 17px !important;
    }

    /* .container-fluid {
        width: 99%;
    } */

    .chat-input-data {
        width: 800px !important;
        margin-top: 2%;
    }

    .chat1-inside-data {
        margin-top: 11%;
        margin-bottom: 2%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .scroll_btn {
        margin-left: -1%!important;
    }
    /* .container-fluid{
        width: 757px;
        margin-left: 5px;
    } */
    .box1 {
        width: 232px !important;

    }
    .chat1{
        padding-left:0px!important;
    }

    p.p {
        font-size: 20px!important;
    }
    body {
        width: fit-content !important;

    }

    .chat-input-data2 {
        width: 99% !important;
    }

    .chat-input-data2 button {
        margin-top: 25px !important;
        width: 100px;
    }

    .chat-input-data2 p {
        margin-top: -16px;
    }

    .set-input {

    }

    .chat-input-data {
        width: 672px !important;
        margin-top: 2%;
    }

    .chat1-inside-data {
        margin-left: 0px;
        margin-top: 2%;
    }
}
@media (max-width: 767px) and (min-width: 685px) {
    body {
        width: fit-content !important;

    }
    p.p {
        font-size: 20px!important;
    }

    .chat1 {
        padding-left:0 !important;

    }

    .chat-input-data2 {
        width: 99% !important;
    }

    .chat-input-data2 button {
        margin-top: 25px !important;
        width: 100px;
    }

    .chat-input-data2 p {
        margin-top: -16px;
    }

    .set-input {
        margin: 30px !important;
    }

    /* .container-fluid {
        width: 100%;
    } */



    .chat-input-data {
        width: 698px !important;
        margin-top: 2%;
    }


    .chat1-inside-data {
        margin-top: 3%;
        margin-bottom: 2%;
    }
}

@media (max-width: 684px) and (min-width: 568px) {
    body {
        width: fit-content !important;

    }
    .chat1 {
        padding:0 !important;
        margin-top: 2%;

    }
    .chat-input-data2 {
        width: 99% !important;
    }

    .chat-input-data2 button {
        margin-top: 25px !important;
        width: 100px;
    }

    .chat-input-data2 p {
        margin-top: -16px;
    }

    .set-input {

    }




    p.p {
        padding-top: 0!important;
        font-size: 23px;
        margin-left: 16px;
    }

    .chat-input-data {
        width: 80% !important;
        margin-top: 2%;
    }

    .chat1-inside-data {
        margin-top: 3%;
        margin-bottom: 2%;
    }
}

@media (max-width: 567px) and (min-width: 480px) {
    body {
        width: fit-content !important;

    }
    .chat1 {
        padding-left:0 !important;

    }

    .chat-input-data2 {
        width: 99% !important;
    }

    .chat-input-data2 button {
        margin-top: 25px !important;
        width: 100px;
    }

    .chat-input-data2 p {
        margin-top: -16px;
    }

    .set-input {
        margin: 17px !important;
    }

    .mr-2 {
        margin-right: 0.5rem !important;
        padding: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    .scroll_btn {
        margin-left: -10%;
    }

    p.p {
        padding-top: 6%;
        font-size: 27px;
        margin-left: 16px;
    }

    .chat-input-data {
        margin: 2%;
        width: 96% !important;
        border-radius: 31px !important;
    }

    .chat1-inside-data {
        margin-top: 10%;

    }
}

@media (max-width: 479px) and (min-width: 320px) {
    body {
        width: fit-content !important;

    }
    .chat1 {
        padding-left:0 !important;

    }

    .chat-input-data {
        margin-top: 2%;
        width: 84% !important;
        border-radius: 53px !important;
    }
}


/* chat responsive end*/