@media (max-width: 1199px) and (min-width: 1024px)   {

    .img-form{
        background-repeat: no-repeat!important;
        background-size: cover!important;
        height: 250px!important;
        margin-top: 0px!important;
    }
    p.p {
        font-size: 24px!important;
        margin-left: 11px!important;
        margin-top: 2px!important;


    }
    .fields {
        margin-top: 6%!important;
    }
    .container.d-flex.flex-column.align-items-center.form {
        height: 84%!important;
        width: 65%!important;
    }
    .form h2{
        font-size: 29px!important;

    }
    .firstname{
        width: 24%!important;

    }

}
  @media (max-width: 1023px) and (min-width: 992px) {
      .img-form{
          background-repeat: no-repeat!important;
          background-size: cover!important;
          height: 250px!important;
          margin-top: 0px!important;
      }
      p.p {
          font-size: 24px!important;
          margin-left: 11px!important;
          margin-top: 2px!important;


      }
      .fields {
          margin-top: 6%!important;
      }
      .container.d-flex.flex-column.align-items-center.form {
          height: 84%!important;
          width: 65%!important;
      }
      .form h2{
          font-size: 29px!important;

      }
      .firstname{
          width: 24%!important;

      }

  }
 @media (max-width: 991px) and (min-width: 768px) {

     .img-form{
         background-repeat: no-repeat!important;
         background-size: cover!important;
         height: 250px!important;
         margin-top: 0px!important;
     }
     p.para1 {
         font-size: 22px!important;
         margin-top: 1%!important;


     }
     .container.d-flex.flex-column.align-items-center.form {
         height: 545px!important;
         width: 65%!important;
     }
     .form h2{
         font-size: 29px!important;

     }
     .firstname{
         width: 24%!important;

     }

 }

 @media (max-width: 767px) and (min-width: 685px) {
     .img-form{
         background-repeat: no-repeat!important;
         background-size: cover!important;
         height: 250px!important;
         margin-top: 0px!important;
     }
     p.para1 {
         font-size: 22px!important;
         margin-top: 0%!important;


     }
     .container.d-flex.flex-column.align-items-center.form {
         height: 79vh!important;
         width: 65%!important;
     }
     .form h2{
         font-size: 29px!important;

     }
     .firstname{
         width: 24%!important;

     }

 }
 @media (max-width: 684px) and (min-width: 568px) {
     .img-form{
         background-repeat: no-repeat!important;
         background-size: cover!important;
         height: 250px!important;
         margin-top: 0px!important;
     }
     p.para1 {
         font-size: 16px!important;
         margin-top: 10px!important;
     }
     .container.d-flex.flex-column.align-items-center.form {
         height: 79vh!important;
         width: 65%!important;
     }
     .form h2{
         font-size: 29px!important;

     }
     .firstname{
         width: 24%!important;

     }

 }

@media (max-width: 567px) and (min-width: 480px) {

    .img-form{
        background-repeat: no-repeat!important;
        background-size: cover!important;
        height: 250px!important;
        margin-top: 0px!important;

    }
    p.para1 {
        font-size: 16px!important;
        margin-top: 10px!important;
    }
    .container.d-flex.flex-column.align-items-center.form {
        height: 500px!important;
        width: 74%!important;
        margin-top: -19px!important;
        padding: 0;
    }
    .form h2{
        font-size: 29px!important;

    }
    .firstname{
        width: 24%!important;

    }

}
@media (max-width: 479px) and (min-width: 320px) {

    .img-form{
        background-repeat: no-repeat!important;
        background-size: cover!important;
        height: 250px!important;
    }

    p.para1 {
        font-size: 16px!important;
        margin-top: 10px!important;
    }
    .container.d-flex.flex-column.align-items-center.form {
        height: 500px!important;
        width: 74%!important;
        margin-top: -19px!important;
        padding: 0;
    }
    .form h2{
        font-size: 29px!important;

    }

    .firstname{
        width: 24%!important;

    }


}