@media (max-width: 479px) and (min-width: 320px) {

    .middle-section7 {
        margin-left: -70px!important;
    }
    .left-side-section7 {
        margin-left: -20px!important;
    }
    .right-side-section7 {
        margin-left: -77px!important;
    }
    .middle-paragraph1-section7 {
        padding-top: 4%!important;
    }
    /* .left-side-section5 p {
        margin-left: -32px!important;
        text-align: center;
    } */
    /* button#clip-div3 {
        margin-left: 131px!important;
    } */
    .left-side-section5 h2 {
        font-size: 34px!important;
    }
    .table-section-5 {
        margin-left: -20px!important;
    }
    /* .image {
    height: 85vh!important;
    }

    .button-section2-move1 {
        margin-left: 12%!important;
        height: 63px;
        width: 400px;
    }
    .button-section2-move {
        margin-left: 15%!important;
        height: 65px;
        width: 330px;
    }
    .section1-paragraph h4 {
     padding-top: 0.5%!important;
 
        }
        h4.paragragh1-section1 {
            margin-left: -355px!important;
            margin-top: 32px!important;
        }
        p.mr-2.link-header {
            margin-right: 158px!important;
        }
        .headerLogo {
            width: 18%!important;
            margin-left: -2%;
            height: 100%;
        }
        .pad{
        width: 1208px!important;
        }
        .data {
            margin-top: -69px!important;
            height: 478px!important;
        }

        .scroll_btn{
            margin-left: -10%;
        }

        p.p {
            padding-top: 6%;
            font-size: 27px;
            margin-left: 16px;
        }
        .section1-paragraph a {
            margin-top: 25px!important;
        }

        .section1-paragraph {
            display: flex;
            padding-top: 0%;
            padding-left: 649px;
        }
        .align-items-end {
            margin-top: -119px;
            align-items: flex-end!important;
        }
        .link-header {
            margin-top: -5px;
            color: #ea840b;
            margin-right: 99px!important;
            font-weight: 500;
        }
        */
        body{
            width: fit-content!important;
            box-sizing: border-box;
        }

        p.last-pargraph-width {
            width: 732px;
            text-align: center;
        }
        .lists-footer-lastsection {
            text-align: center!important;
        }
        .section1-paragraph a {
        font-size: 35px;
        margin-top: -2px!important;
        }
        .lists-footer-lastsection li {
            text-decoration: none;
            width: 202px!important;
       }
    } 

@media (max-width: 567px) and (min-width: 480px) {
    body {
        width: fit-content!important;
   
    }
    .container-fluid {
        width: 100%;
    }
    .headerLogo{
        width: 40%!important;
        margin-left: 30%;
        height: 100%;
   
    }
    .section1-paragraph{
        margin-top: 5px!important;
        margin-left: 30%;
        width: 92%;
    }
    .section1-paragraph h4 {
        font-size: 23px!important;
        margin-right: -4px!important;
        margin-left: 3%;
        width: 349px;
    }
    .anchor-section1{
        margin-left: -80%;
        font-size: 23px!important;
        margin-top: 30px!important;
    }
    .mr-2 {
        margin-right: 0.5rem!important;
        padding: 0px;
        font-size: 22px;
        font-weight: bold;
    }
   
    .scroll_btn{
        margin-left: -10%;
    }
   
    p.p {
        padding-top: 6%;
        font-size: 27px;
        margin-left: 16px;
    }
}

@media (max-width: 684px) and (min-width: 568px) {
   
    /* .section1-paragraph h4 {
        font-size: 27px!important;
        margin-top: -77px!important;
        color: #004e76;
        width: 404px;
        margin-left: 259px!important;
    } */
   
    /* responsive starts here */
    /* div#clip-div {
        margin-top: -25px!important;
        margin-left: 65px;
        width: 284px;
    } */
    /* .data.data-responsive {
        margin-top: -58px;
        width: 420px;
        height: 349px;
    }
    .heading-responsive-section1 {
        font-size: 28px!important;
    }
    .heading5-responsive-section1 {
        font-size: 25px!important;
        margin-top: -6px!important;
    } */
    /* .data ul li span {
        font-size: 19px!important;
        height: 34px;
        line-height: 31px;
        width: 40px;
    }
    .data ul li p {
        margin-top: -14px!important;
        font-size: 19px!important;
        
    } */

    .col-md-12 .col-md-4{
        width: 100%;
        padding: 0px!important;
    }





    .d-flex.flex-column.align-items-end.content {
        margin-left: -111px;
    }
    .image {
        min-height: 167vh!important;
    }
    .last-pargraph-width {
        width: 800px;
        text-align: center;
    }
    .lists-footer-lastsection li {
        text-decoration: none;
        list-style: none;
        padding-left: 1%;
        width: 202px;
    }
        /* Ends here */
    /* -------------------------- */

    body {
        width: fit-content!important;
   
    }
    .headerLogo {
        width: 20%!important;
        margin-left: 39%!important;
        height: 100%;
    }
    .link-header {
        margin-top: -7px!important;
        margin-right: -14px;
        margin-right: 377px!important;
        font-size: 21px!important;
    }
    .section1-paragraph h4 {
        font-size: 27px!important;
        font-weight: bold;
        padding-top: 1.5%;
        margin-right: 230px;
        color: #004e76;
    }
    
    .section1-paragraph{
        margin-top: 5px!important;
        margin-left: 30%;
        width: 92%;
    }
    .anchor-section1{
        margin-left: -80%;
        font-size: 23px!important;
        margin-top: 30px!important;
    }
    /* .section1-paragraph a {
        color: #004e76!important;
        margin-top: 2px;
        margin-left: -48px;
        color: #0b567b!important;
        width: 153px;
        margin-top: -69px!important;
    }
    .section1-paragraph h4 {
        font-size: 27px!important;
        margin-top: -77px!important;
        color: #004e76;
        width: 404px; */
        /* margin-left: 688px!important; */
/*     
    } */
    
   
    .scroll_btn{
        margin-left: -10%;
    }
    p.p {
        padding-top: 6%;
        font-size: 27px;
        margin-left: 16px;
    }
}


   @media (max-width: 767px) and (min-width: 685px) {
    body {
        width: fit-content!important;
   
    }
   
    .headerLogo {
        width: 33%!important;
        margin-left: 36%;
        height: 100%;
    }
    .section1-paragraph{
        margin-top: 5px!important;
        width: 92%;
    }
    .section1-paragraph h4 {
        margin-left: -6%;
        margin-top: 1px;
        font-size: 34px!important;
    }
    .anchor-section1{
        margin-left: -51%;
        margin-top: 42px!important;
        font-size: 33px!important;
    }
    /* .mr-2 {
        margin-right: 0.5rem!important;
        padding: 0px;
        font-size: 25px;
        font-weight: initial;
    } */
   
    .scroll_btn{
        margin-left: -10%;
    }
    p.p {
        font-size: 29px!important;
    }
    .link-header {
        margin-top: -5px;
        color: #ea840b;
        margin-right: 332px!important;
        font-size: 28px;
    }
    .last-pargraph-width {
        width: 800px;
        text-align: center;
    }
    .lists-footer-lastsection li {
        text-decoration: none;
        list-style: none;
        padding-left: 1%;
        width: 202px;
    }
}
   
@media (max-width: 991px) and (min-width: 768px) {
    .data {
        margin-top: -32px!important;
    }
    .image {
        min-height: 77vh!important;
    }
    img.headerLogo {
        margin-top: 9px!important;
    }
    
    a.anchor-section1 {
        font-size: 32px!important;
    }
    .section1-paragraph a {
        color: #004e76!important;
        margin-top: -15px!important;
        color: #0b567b!important;
        margin-left: -186px;
        padding-top: 12px;

    }
    .link-header {
        margin-top: -5px;
        font-size: 21px;
    }
    .section1-paragraph h4 {
        padding-right: 281px;
        padding-right: 281px;
        width: 672px;
        margin-top: -6px!important;
    }

    .right-side.mt-3.table-section-5.section5-paragraph-all {
        font-weight: 61px!important;
        margin-right: 42px!important;
    }
    .left-side-section5 p {
        font-size: 30px!important;
        margin-top: 46px!important;
        line-height: 36px!important;    }
    .box1 {
        width: 232px!important;

    }
    button#clip-div3 {
    margin-left: 104px!important;
    }
    p.second-para {
        margin-top: -21px!important;
    }
    .section1-row {
        padding-top: 3%!important;
    }
    .section5-image {
        min-height: 76vh!important;
    }
    .button-header-text2 {
        font-size: 16px!important;
    }
    .last-pargraph-width {
        width: 800px;
        text-align: center;
    }
    .lists-footer-lastsection li {
        width: 202px!important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    body {
        width: fit-content!important;   
    }

    img.headerLogo {
        margin-left: -62px;
        margin-top: -8px!important;
    }
    .section1-paragraph{
       margin-top: 5px!important;
        width: 92%;
    }
    .section1-paragraph h4 {
        margin-left: -6%;
        margin-top: 1px;
        font-size: 30px!important;
    }
   .anchor-section1{
        margin-left: -54%;
        margin-top: 42px!important;
        font-size: 33px!important;
    }
    .mr-2 {
        margin-right: 14.5rem!important;
        padding: 0px;
        font-size: 25px;
        font-weight: initial;
    }
   
   .scroll_btn{
        margin-left: -10%;
    }
   p.p {
        font-size: 29px!important;
    }
    .button-section2-move1 {
        margin-left: 6%!important;
    }
   }
   @media (max-width: 1023px) and (min-width: 992px) {
    body {
        width: fit-content!important;
   
    }
   
    .headerLogo{
    width: 50%!important;
    margin-left: 25%;
    height: 100%;
    
   
    }
    .section1-paragraph{
    margin-top: 5px!important;
    width: 92%;
    }
    .section1-paragraph h4 {
    margin-left: -6%;
    margin-top: 1px;
    font-size: 35px!important;
    }
    .anchor-section1{
    margin-left: -62%;
    margin-top: 42px!important;
    font-size: 33px!important;
    }
    .mr-2 {
    margin-right: 0.5rem!important;
    padding: 0px;
    font-size: 25px;
    font-weight: initial;
    }
   
    .scroll_btn{
    margin-left: -10%;
    }
    p.p {
    font-size: 29px!important;
    }
}

@media (max-width: 1199px) and (min-width: 1024px) {
    .last-pargraph-width {
        width: 800px;
        text-align: center;
    }
    .lists-footer-lastsection li {
        text-decoration: none;
        list-style: none;
        padding-left: 1%;
        width: 212px;
    }
    .headerLogo {
        width: 18%!important;
        margin-left: 2%!important;
        height: 100%;
        margin-top: 6px!important;
    }
  .section1-paragraph{
    margin-top: 5px!important;
    width: 92%;
    }
    .section1-paragraph a {
        color: #004e76!important;
        margin-top: -96px!important;
        color: #0b567b!important;
        margin-left: -16px;
        width: 283px;
        font-size: 29px!important;
    }
    .section1-paragraph h4 {
        font-size: 35px;
        margin-top: -104px;
        margin-left: 332px;
        width: 371px;
        margin-right: 15px;
        font-size: 32px!important;
    }
    button#clip-div1 {
        margin-left: -296px!important;
        margin-left: 34px;
        margin-top: 26px!important;
        height: 60px!important;
    }
        .anchor-section1{
        margin-left: -62%;
        margin-top: 42px!important;
        font-size: 33px!important;
}
.mr-2 {
    margin-right: 15.5rem!important;
    padding: 0px;
    font-size: 28px;
}
.link-header {
    font-size: 20px;
    margin-top: -39px!important;
    margin-right: 53px!important;
}

 .scroll_btn{
margin-left: -10%;
 }
 p.p {
 font-size: 29px!important;
 }
 .data{
     margin-top:-15px!important;
 }
 .section5-image {
    min-height: 60vh!important;
 }
 .image {
    min-height: 49vh!important;
 }

 

}

@media (max-width: 1460px) and (min-width: 1200px) {
    /* i.fa.fa-chevron-circle-right.icon.movement-icon {
        margin-top: 12px!important;
        color: #f37f00!important;
    } */
    .image-section8 {
        height: 783px!important;
    }
    .section5-image {
        min-height: 69vh!important;
    }
    .data{
        margin-top:-30px;
    }
    .image {
        min-height: 55vh;
    }
    .headerLogo {
        width: 285px;
    }
    .button-text1 {
        margin-top: 0px!important;
    }
}