body{
    padding: 0;
    margin: 0;
    font-family: red hat Display;    
}

.image{
    background-image:url(../images/Group9.png);
    min-height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section4{
    background-image:url(../images/gplay.png);
    height: 110vh;
    background-repeat: repeat;

}

.image-section8{
    background-image: url(../images/Group1.png);
    height:700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-form{
    background-image:url(../images/Group-1.png);
    height:40vh;
    background-repeat:no-repeat;
    background-size: cover;
}
.section5-image{
    background-image: url(../images/Group1.png);
    min-height: 116vh;
    background-size: cover;
    background-repeat: no-repeat;
}